<ul class="list-unstyled">
    {% for reply in replies %}
        <li class="media" id="">
            <div class="media-left">
                <a href="">
                    <img class="media-object img-thumbnail mr-3" alt="{{ reply.user.username }}"
                         src="/media/{{ reply.user.avatar }}" style="width:48px;height:48px;"/>
                </a>
            </div>

            <div class="media-body">
                <div class="media-heading mt-0 mb-1 text-secondary">
                    <a href="" title="{{ reply.user.username }}">
                        {{ reply.user.username }}
                    </a>
                    <!-- 对用户进行回复 -->
                    <span class="meta float-right">
                        {% include 'topics/comment_template_modal.html' %}
                    </span>
                </div>
                <div class="reply-content text-secondary">
                    {{ reply.content }}
                </div>
            </div>
        </li>
        {% if reply.pid_id %}
            <p class="card-body">
                {{ reply.pid.user.username }}

                {{ reply.pid.content }}
            </p>
        {% endif %}
    {% endfor %}
</ul>
