<ul class="list-unstyled">
    {% for reply in replies %}
        <li class="media" name="" id="">
            <div class="media-left">
                <a href="">
                    <img class="media-object img-thumbnail mr-3" alt="{{ reply.user.username }}"
                         src="/media/{{ reply.user.avatar }}" style="width:48px;height:48px;"/>
                </a>
            </div>

            <div class="media-body">
                <div class="media-heading mt-0 mb-1 text-secondary">
                    <a href="" title="{{ reply.user.username }}">
                        {{ reply.user.username }}
                    </a>
                    <!-- 对用户进行回复 -->
                    <span class="meta float-right">
                          <form action=""
                                onsubmit="return confirm('确定要删除此评论？');"
                                method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-default btn-xs pull-left text-secondary">
                              <i class="far fa-trash-alt"></i>
                            </button>
                          </form>
                        </span>
                </div>
                <div class="reply-content text-secondary">
                    {{ reply.content }}
                </div>
            </div>
        </li>
    {% endfor %}
</ul>
