{% if topics %}

    <ul class="list-unstyled">
        {% for topic in topics %}
            <li class="media mt-2">
                <div class="media-left">
                    <a href="">
                        <img style="width: 52px; height: 52px;" class="media-object img-thumbnail mr-3"
                             src="/media/{{ topic.user.avatar }}" alt="">
                    </a>
                </div>

                <div class="media-body">

                    <div class="media-heading mt-0 mb-1">
                        <a href="{% url 'topic_show' topic.id %}" title="{{ topic.title }}">
                            {{ topic.title }}
                        </a>
                        <a class="float-right" href="">
                            <span class="badge badge-secondary badge-pill"> {{ topic.reply_count }} </span>
                        </a>
                    </div>

                    <small class="media-body meta text-secondary">

                        <a class="text-secondary" href="{% url 'category_show' topic.category.id %}" title="{{ topic.category.name }}">
                            <i class="fa fa-folder"></i>
                            {{ topic.category.name }}
                        </a>

                        <span> • </span>
                        <a class="text-secondary" href="{% url 'blog_center' topic.user.username %}"
                           title="{{ topic.user.username }}">
                            <i class="fa fa-user"></i>
                            {{ topic.user.username }}
                        </a>
                        <span> • </span>
                        <i class="fa fa-clock"></i>
                        <span class="timeago"
                                {% load mylabel %}
                              title="最后活跃于：{{ topic.create_time|timestamp }}">
                            {{ topic.create_time|timestamp }}
                        </span>
                    </small>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endif %} 