<script type="text/html" id="comment_template">
    <li comment_id="">
        <div id="is_root" class="">
            <div class="comment-avatar"><img src="" alt="">
            </div>
            <div class="comment-box">
                <div class="comment-head">
                    <h6 class="comment-name">
                        <a href="#" id="comment_user">用户</a>
                        <a href="#" id="reply_user"></a>
                    </h6>
                    <div class="reply_pid_btn" data-username="" data-pid="" onclick="reply(this)">
                        <i class="fa fa-reply"></i>
                    </div>
                </div>
                <div class="comment-content">
                    评论内容
                </div>
            </div>
        </div>
    </li>
</script>
