{% extends 'layout/app.html' %}

{% block title %}
    文章标题
{% endblock %}

{% block css %}
    <style>
        * {
            margin: 0;
            padding: 0;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        a {
            color: #03658c;
            text-decoration: none;
        }

        ul {
            list-style-type: none;
        }

        body {
            font-family: 'Roboto', Arial, Helvetica, Sans-serif, Verdana;
            background: #dee1e3;
            /** ====================
         * Lista de Comentarios
         =======================*/
        }

        .comments-container {
            margin: 60px auto 15px;
            width: 768px;
        }

        .comments-container h1 {
            font-size: 36px;
            color: #283035;
            font-weight: 400;
        }

        .comments-container h1 a {
            font-size: 18px;
            font-weight: 700;
        }

        .comments-list {
            margin-top: 30px;
            position: relative;
            /**
         * Lineas / Detalles
         -----------------------*/
        }

        .comments-list:before {
            content: '';
            width: 2px;
            height: 100%;
            background: #c7cacb;
            position: absolute;
            left: 32px;
            top: 0;
        }

        .comments-list:after {
            content: '';
            position: absolute;
            background: #c7cacb;
            bottom: 0;
            left: 27px;
            width: 7px;
            height: 7px;
            border: 3px solid #dee1e3;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
        }

        .reply-list:before,
        .reply-list:after {
            display: none;
        }

        .reply-list li:before {
            content: '';
            width: 60px;
            height: 2px;
            background: #c7cacb;
            position: absolute;
            top: 25px;
            left: -55px;
        }

        .comments-list li {
            margin-bottom: 15px;
            display: block;
            position: relative;
        }

        .comments-list li:after {
            content: '';
            display: block;
            clear: both;
            height: 0;
            width: 0;
        }

        .reply-list {
            padding-left: 88px;
            clear: both;
            margin-top: 15px;
            /**
         * Avatar
         ---------------------------*/
        }

        .comments-list .comment-avatar {
            width: 65px;
            height: 65px;
            position: relative;
            z-index: 99;
            float: left;
            border: 3px solid #fff;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
            overflow: hidden;
        }

        .comments-list .comment-avatar img {
            width: 100%;
            height: 100%;
        }

        .reply-list .comment-avatar {
            width: 50px;
            height: 50px;
        }

        .comment-main-level:after {
            content: '';
            width: 0;
            height: 0;
            display: block;
            clear: both;
            /**
         * Caja del Comentario
         ---------------------------*/
        }

        .comments-list .comment-box {
            width: 680px;
            float: right;
            position: relative;
            -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
            -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
        }

        .comments-list .comment-box:before,
        .comments-list .comment-box:after {
            content: '';
            height: 0;
            width: 0;
            position: absolute;
            display: block;
            border-width: 10px 12px 10px 0;
            border-style: solid;
            border-color: transparent #fcfcfc;
            top: 8px;
            left: -11px;
        }

        .comments-list .comment-box:before {
            border-width: 11px 13px 11px 0;
            border-color: transparent rgba(0, 0, 0, 0.05);
            left: -12px;
        }

        .reply-list .comment-box {
            width: 610px;
        }

        .comment-box .comment-head {
            background: #fcfcfc;
            padding: 10px 12px;
            border-bottom: 1px solid #e5e5e5;
            overflow: hidden;
            -webkit-border-radius: 4px 4px 0 0;
            -moz-border-radius: 4px 4px 0 0;
            border-radius: 4px 4px 0 0;
        }

        .comment-box .comment-head i {
            float: right;
            margin-left: 14px;
            position: relative;
            top: 2px;
            color: #a6a6a6;
            cursor: pointer;
            -webkit-transition: color 0.3s ease;
            -o-transition: color 0.3s ease;
            transition: color 0.3s ease;
        }

        .comment-box .comment-head i:hover {
            color: #03658c;
        }

        .comment-box .comment-name {
            color: #283035;
            font-size: 14px;
            font-weight: 700;
            float: left;
            margin-right: 10px;
        }

        .comment-box .comment-name a {
            color: #283035;
        }

        .comment-box .comment-head span {
            float: left;
            color: #999;
            font-size: 13px;
            position: relative;
            top: 1px;
        }

        .comment-box .comment-content {
            background: #fff;
            padding: 12px;
            font-size: 15px;
            color: #595959;
            -webkit-border-radius: 0 0 4px 4px;
            -moz-border-radius: 0 0 4px 4px;
            border-radius: 0 0 4px 4px;
        }

        .comment-box .comment-name.by-author,
        .comment-box .comment-name.by-author a {
            color: #03658c;
        }

        .comment-box .comment-name.by-author:after {
            content: 'autor';
            background: #03658c;
            color: #fff;
            font-size: 12px;
            padding: 3px 5px;
            font-weight: 700;
            margin-left: 10px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            /** =====================
         * Responsive
         ========================*/
        }

        @media only screen and (max-width: 766px) {
            .comments-container {
                width: 480px;
            }

            .comments-list .comment-box {
                width: 390px;
            }

            .reply-list .comment-box {
                width: 320px;
            }
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row">

        <div class="col-lg-2 col-md-2 hidden-sm hidden-xs author-info">
            <div class="card ">
                <div class="card-body">
                    <div class="text-center">
                        作者：{{ topic.user.username }}
                    </div>
                    <hr>
                    <div class="media">
                        <div align="center">
                            <a href="{% url 'blog_center' topic.user.username %}">
                                <img class="thumbnail img-fluid" src="/media/{{ topic.user.avatar }}" width="300px"
                                     height="300px">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 topic-content">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-center mt-3 mb-3">
                        {{ topic.title }}
                    </h1>

                    <div class="article-meta text-center text-secondary">
                        {% load mylabel %}
                        {{ topic.create_time|timestamp }}
                        ⋅
                        <i class="far fa-comment"></i>
                        {{ topic.reply_count }}
                    </div>

                    {% if tags %}
                        <div class="article-meta text-center text-secondary mt-3 mb-3">
                            {% for tag in tags %}
                                <span class="badge badge-success">{{ tag.title }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}

                    <div class="topic-body mt-4 mb-4">
                        {{ topic.body|safe }}
                    </div>

                    <!-- 判断是不是自己的文章 -->
                    {% if request.user.id == topic.user.id %}
                        <div class="operate">
                            <hr>
                            <a href="{% url 'edit_topic' topic.id %}" class="btn btn-outline-secondary btn-sm"
                               role="button">
                                <i class="fa fa-edit"></i> 编辑
                            </a>

                            <button type="button" data-topic_id="{{ topic.id }}"
                                    class="btn_delete_topic btn btn-outline-secondary btn-sm">
                                <i class="fa fa-trash"></i> 删除
                            </button>
                        </div>
                    {% endif %}
                </div>
            </div>

            <!-- 用户回复列表 -->
            <div class="card topic-reply mt-4">
                <div class="card-body">
                    {% include 'topics/_reply_list.html' %}
                    {% include 'topics/_reply_box.html' %}
                </div>
            </div>
        </div>
        <div class="col-sm-1 col-md-1">
            <ul class="list-group" style="z-index: 20000;position: fixed;">
                <li class="list-group-item">
                    <a class="btn btn-sm btn_like"
                       href="javascript:;" data-topic_id="{{ topic.id }}"><i
                            class="fa fa-thumbs-o-up"></i>
                    </a>
                </li>
                <li class="list-group-item">
                    <a class="btn btn-sm btn_hate"
                       href="javascript:;" data-topic_id="{{ topic.id }}"><i
                            class="fa fa-thumbs-o-down"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- 加载评论模板 -->
    {% include 'topics/comment_template.html' %}
{% endblock %}

{% block js %}
    <script>

        // 页面加载时加载评论树
        window.onload = function () {
            $.ajax({
                url: "{% url 'commit' %}",
                type: "get",
                data: {
                    'topic_id': {{ topic.id }}
                },
                success: function (res) {
                    var author_user_id = {{ topic.user.id }};
                    console.log(res);
                    $.each(res, function (index, comment_obj) {
                        var pk = comment_obj.pk;
                        var content = comment_obj.content;
                        var pid = comment_obj.pid_id;
                        var avatar = comment_obj.user__avatar;
                        var username = comment_obj.user__username;
                        var user_id = comment_obj.user_id;
                        var level_path = comment_obj.level;
                        var parent_username = comment_obj.parent_username;

                        // 获取html字符串模板
                        var template = $('#comment_template').html();
                        // 将html字符串转换为dom对象
                        var dom = $(template);

                        dom.find(".reply_pid_btn").attr("data-username", username);
                        dom.find(".reply_pid_btn").attr("data-pid", pk);
                        dom.find("#comment_user").attr("href", "/bbs/blog/" + username)

                        var template_html;
                        if (!pid) {
                            dom.attr("comment_id", pk);
                            dom.find("img").attr("src", "/media/" + avatar);
                            if (author_user_id == user_id) {
                                dom.find(".comment-name").addClass("by-author");
                            }
                            dom.find("#comment_user").html(username)
                            dom.find(".comment-content").html(content)
                            dom.find("#is_root").addClass("comment-main-level");
                            template_html = dom.prop("outerHTML");
                            $('#comments-list').append(template_html)
                        } else {
                            var pids = level_path.split("_")
                            dom.attr("comment_id", pk);
                            dom.find("img").attr("src", "/media/" + avatar);
                            if (author_user_id == user_id) {
                                dom.find(".comment-name").addClass("by-author");
                            }
                            dom.find("#comment_user").html(username)
                            dom.find(".comment-content").html(content)
                            dom.find("#reply_user").html('@' + parent_username);
                            template_html = dom.prop("outerHTML");
                            var tmp = '<ul class="comments-list reply-list">';
                            var tmp_end = '</ul>';

                            var result = tmp + template_html + tmp_end;

                            if (pids.length >= 2) {
                                // 找到父类的用户名称
                                $('[comment_id=' + pids[0] + ']').append(result);
                            } else {
                                $('[comment_id=' + pid + ']').append(result);
                            }
                        }
                    });
                }
            });
            return false;
        }

        function reply(obj) {
            {#console.log($(obj).data("pid"));#}
            {#console.log($(obj).data("username"));#}

            $(".reply-box #content").attr("placeholder", '@' + $(obj).data("username"));
            $(".reply-box").find('[name=pid]').val($(obj).data("pid"));
            $(".reply-box").find('[name=level]').val($(obj).data("pid"));
        }

        // 回复根评论以及子评论 第一版作废
        /*
        $(document).on("click", ".btn_commit_comment", function () {
            var id = $(this).data("id");
            $.post("{% url 'commit' %}", $("#commit_comment_" + id).serialize(), function (res) {
                if (res.status === 1) {
                    layer.msg(res.msg, {
                        icon: 6
                    }, function () {
                        window.location.reload();
                    });
                } else if (res.status === 2) {
                    layer.msg(res.msg, {
                        icon: 5
                    }, function () {
                        window.location.href = "{% url 'login' %}"
                    })
                } else {
                    var result;
                    if (typeof res.msg == "string") {
                        result = res.msg;
                    } else {
                        var str = "";
                        $.each(res.msg, function (index, item) {
                            str += "<br>" + item[0]
                        });
                        result = str;
                    }
                    layer.msg(result, {
                        icon: 5,
                        time: 2000
                    }, function () {
                        window.location.reload();
                    })
                }
            }, 'json');
            return false;
        });
        */

        // 根评论
        $(document).on("click", ".btn_reply", function () {
            request("{% url 'commit' %}", {
                data: $("#replay_box").serialize(),
                dataType: "json",
                type: "POST"
            });
        });

        // 删除文章
        $(document).on("click", ".btn_delete_topic", function () {
            var topic_id = $(this).data("topic_id");
            if (!topic_id) {
                layer.msg("文章id参数缺失");
                return false;
            }
            layer.confirm("你确定要删除吗", {
                btn: ['确定', '取消'],
                title: "提示"
            }, function () {
                request("{% url 'delete_topic' %}", {
                    data: {
                        "topic_id": topic_id,
                        "csrfmiddlewaretoken": "{{ csrf_token }}",
                    },
                    type: "DELETE",
                    dataType: "json",
                }, "{% url 'home' %}");
            });
        });
    </script>
{% endblock %}

