{% extends 'layout/app.html' %}

{% block title %}
    话题列表
{% endblock %}

{% block css %}
    <style>
        .search-form {
            padding: 0 5px 10px;
            margin-bottom: 10px;
            border-bottom: 1px solid #eee;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row mb-5">
        <div class="col-lg-9 col-md-9 topic-list">
            {#            @if (isset($category))#}
            {#                <div class="alert alert-info" role="alert">#}
            {#                    {{ $category->name }} ：{{ $category->description }}#}
            {#                </div>#}
            {#            @endif#}
            <div class="card ">
                <div class="card-body">
                    <!-- 话题列表 -->
                    {% include 'topics/_topic_list.html' %}
                    <!-- 分页 -->
                    <div class="mt-5">

                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 sidebar">
            {% include 'topics/_sidebar.html' %}
        </div>
    </div>
{% endblock %}