{% extends 'layout/app.html' %}

{% block title %}
    话题列表
{% endblock %}

{% block content %}
    <div class="row mb-5">
        <div class="col-lg-9 col-md-9 topic-list">
            {% if category %}
                <div class="alert alert-info" role="alert">
                    {{ category.name }} ：{{ category.description }}
                </div>
            {% endif %}
            <div class="card ">

                <div class="card-header bg-transparent">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link {% if order == "-create_time" %}active{% endif %}"
                               href="{% url 'home' %}?order=-create_time">
                                最新发布
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if order == "-view_count" %}active{% endif %}"
                               href="{% url 'home' %}?order=-view_count">
                                查看量
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="card-body">
                    <!-- 帖子列表 -->
                    {% include 'topics/_topic_list.html' %}
                    <!-- 分页 -->
                    <div class="mt-5">
                        {% if length %}
                            <ul class="pagination">
                                {% if current.has_previous %}
                                    <li><a href="?page={{ current_page|add:-1 }}">上一页</a></li>
                                {% else %}
                                    <li class="disabled"><a href="?page={{ current_page|add:-1 }}">上一页</a></li>
                                {% endif %}

                                {% for item in page_range %}
                                    {% if current_page == itme %}
                                        <li class="active"><a href="?page={{ item }}">{{ item }}</a></li>
                                    {% else %}
                                        <li><a href="?page={{ item }}">{{ item }}</a></li>
                                    {% endif %}
                                {% endfor %}

                                {% if current.has_next %}
                                    <li><a href="?page={{ current_page|add:+1 }}">下一页</a></li>
                                {% else %}
                                    <li class="disabled"><a href="?page={{ current_page|add:+1 }}">下一页</a></li>
                                {% endif %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 sidebar">
            {% include 'topics/_sidebar.html' %}
        </div>
    </div>
{% endblock %}