{% extends 'users/user_center_layout.html' %}

{% block user_center_content %}
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">
                <i class="fa fa-lock"></i>
                修改密码
            </h4>
            <hr>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <form id="update_password_form">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ request.user.id }}">
                            <div class="form-group row">
                                <label class="col-md-2 col-form-label text-md-right">新密码</label>
                                <div class="col-sm-7">
                                    <input type="password" class="form-control" name="password" required autocomplete="off">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-2 col-form-label text-md-right">确认密码</label>
                                <div class="col-sm-7">
                                    <input type="password" class="form-control" name="confirm_password" required autocomplete="off">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2"></div>
                                <button type="button" class="update_password btn btn-success">
                                    应用修改
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(document).on("click", ".update_password", function () {
             let password = $("[name=password]").val();
             let confirm_password = $("[name=confirm_password]").val();
             if (password === "") {
                 layer.msg("请输入密码");
                 return false;
             }
             if (confirm_password === "") {
                 layer.msg("请输入确认密码");
                 return false;
             }
             if (confirm_password !== password) {
                 layer.msg("两次密码输入不一样");
                 return false;
             }

             request("", {
                 data: $("#update_password_form").serialize(),
                 dataType: "json",
                 type: "POST"
             });
        });
    </script>
{% endblock %}