<div class="card">
    <div class="card-header">
        <h4 class="card-title">文章归档</h4>
    </div>
    <div class="card-body">
        <ul class="list-group">
            {% if date_list %}
                {% for date in date_list %}
                    <li class="list-group-item">
                        <a href="{% url 'blog_center' bloger.username date.y_m_date %}">
                            {{ date.y_m_date }}
                            <span class="badge badge-secondary">{{ date.c }}</span>
                        </a>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
</div>