{% extends 'layout/app.html' %}

{% block css %}
    <link rel="stylesheet" href="/static/users/user_center.css">
{% endblock %}

{% block title %}
    {{ request.user.username }}的博客
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="row">
                <div class="col-sm-12">
                    {% include 'my_blogs/left_bloger.html' %}
                </div>
            </div>
            {% if bloger.id == request.user.id %}
                <div class="row mt-2">
                    <div class="col-sm-12">
                        <a href="{% url 'create_topic' %}" class="btn btn-success w-100">
                            <i class="fa fa-paint-brush"></i>
                            撰写文章
                        </a>
                    </div>
                </div>
            {% endif %}
            <div class="row mt-2">
                <div class="col-sm-12">
                    {% include 'my_blogs/archive.html' %}
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-12">
                    {% include 'my_blogs/user_tags.html' %}
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            {% include 'my_blogs/user_all_topics.html' %}
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(document).on("click", ".btn_like", function () {
            var topic_id = $(this).data("topic_id");
            request("{% url 'like' %}", {
                data: {
                    "topic_id": topic_id,
                    "csrfmiddlewaretoken": "{{ csrf_token }}",
                },
                dataType: "json",
                type: "POST"
            });
        });

        $(document).on("click", ".btn_hate", function () {
            var topic_id = $(this).data("topic_id");
            request("{% url 'hate' %}", {
                data: {
                    "topic_id": topic_id,
                    "csrfmiddlewaretoken": "{{ csrf_token }}",
                },
                dataType: "json",
                type: "POST"
            });
        });
    </script>
{% endblock %}