<div class="row">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">我的创作</h3>
        </div>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="" class="alert-link">
                        基本资料
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="{% url 'blog_center' request.user.username %}" class="alert-link">我的博文</a>
                    <span class="badge badge-secondary">3</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row mt-2">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">我的互动</h3>
        </div>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item">
                    我的回复
                    <span class="badge badge-secondary">3</span>
                </li>
                <li class="list-group-item">
                    我的收藏
                    <span class="badge badge-secondary">3</span>
                </li>
                <li class="list-group-item">
                    我的点赞
                    <span class="badge badge-secondary">3</span>
                </li>
            </ul>
        </div>
    </div>
</div>