<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        {% block title %}
            BBS论坛
        {% endblock %}
        - djangoBBS
    </title>
    <meta name="description" content="library"/>
    <meta name="keyword" content="library system"/>
    <!-- Styles -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/app.css" rel="stylesheet">
    <link href="/static/plugins/layui/css/modules/layer/default/layer.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    {% block css %}

    {% endblock %}
</head>

<body>
<div id="app">

    {% include 'layout/header.html' %}
    <div class="container">

        {% include 'layout/errors.html' %}
        {% block content %}

        {% endblock %}
    </div>

    {% include 'layout/footer.html' %}
</div>

<!-- Scripts -->
<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/plugins/layui/layui.js"></script>

<script>
    function request(url, option = {}, redirect_uri = "") {
        $.ajax({
            url,
            ...option,
            success: function (res) {
                if (res.status === 1) {
                    layer.msg(res.msg, {
                        icon: 6
                    }, function () {
                        if (redirect_uri != "") {
                            window.location.href = redirect_uri;
                        } else {
                            window.location.reload();
                        }
                    });
                } else if (res.status === 2) {
                    layer.msg(res.msg, {icon: 5}, function () {
                        window.location.href = "{% url 'login' %}";
                    });
                } else {
                    var result;
                    if (typeof res.msg == "string") {
                        result = res.msg;
                    } else {
                        var str = "";
                        $.each(res.msg, function (index, item) {
                            str += "<br>" + item[0]
                        });
                        result = str;
                    }
                    layer.msg(result, {
                        icon: 5,
                        time: 2000
                    }, function () {
                        window.location.reload();
                    });
                }
            },
            error: function () {
                layer.msg("系统网络异常");
                return false;
            },
        });
    }
</script>
{% block js %}

{% endblock %}
</body>

</html>