<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-static-top">
    <div class="container">
        <!-- Branding Image -->
        <a class="navbar-brand " href="{% url 'home' %}">
            djangoBBS
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Left Side Of Navbar -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="{% url 'home' %}" class="nav-link">话题</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'category_show' 1 %}" class="nav-link">分享</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'category_show' 2 %}" class="nav-link">教程</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'category_show' 3 %}" class="nav-link">问答</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'category_show' 4 %}" class="nav-link">公告</a>
                </li>
            </ul>

            <!-- Right Side Of Navbar -->
            <ul class="navbar-nav navbar-right">
                <!-- Authentication Links -->
                {% if request.user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="/media/{{ request.user.avatar }}"
                                 class="img-responsive img-circle" width="30px" height="30px" alt="avatar"/>
                            {{ request.user.username }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% if request.user.is_superuser %}
                                <a class="dropdown-item" href="/admin/">
                                    <i class="fas fa-tachometer-alt mr-2"></i>
                                    管理后台
                                </a>
                            {% endif %}

                            <a class="dropdown-item" href="{% url 'blog_center' request.user.username %}">
                                <i class="fa fa-book mr-2"></i>
                                我的博客
                            </a>

                            <a class="dropdown-item" href="{% url 'user_center' %}">
                                <i class="fa fa-user-circle-o mr-2"></i>
                                个人中心
                            </a>

                            <a class="dropdown-item" href="{% url 'edit_profile' %}">
                                <i class="fa fa-edit mr-2"></i>
                                编辑资料
                            </a>

                            <a class="dropdown-item" id="logout" href="#">
                                <form action="{% url 'logout' %}" method="POST"
                                      onsubmit="return confirm('您确定要退出吗？');">
                                    {% csrf_token %}
                                    <button class="btn btn-block btn-sm btn-danger" type="submit" name="button">退出
                                    </button>
                                </form>
                            </a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">登录</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">注册</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>